<div class="row">
    <form class="create" method="post" action="/create">
      <div class="row">
        <div class="input-field">
          <input id="first_name" name="name" type="text" class="validate col s6">
          <label for="first_name">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" name="title" class="validate col s6">
          <label for="title">Blog Title</label>
        </div>
      </div>

      <div class="row">
          <div class="input-field">
            <textarea id="textarea1" name="body" class="materialize-textarea" length="2000"></textarea>
            <label for="textarea1">Start Writing</label>
        </div>
      </div>
      <button class="post waves-effect waves-light btn red accent-4" type="submit" name="postBlog">Post</button>
    </form>
  </div>
