<div class="row">
    <form class="col s12" method="post" action="/update/{{data.id}}">
      <div class="row">
        <div class="input-field col s4">
          <input id="first_name" name="name" type="text" class="validate" value="{{data.name}}">
          <label for="first_name">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input type="text" name="title" class="validate" value="{{data.title}}">
          <label for="title">Blog Title</label>
        </div>
      </div>

      <div class="row">
          <div class="input-field col s6">
            <textarea id="textarea1" name="body" class="materialize-textarea" length="2000">{{data.body}}</textarea>
            <label for="textarea1">Start Editing</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn" type="submit" name="updateBlog">Update</button>
    </form>
  </div>
