body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 70vw;
  display: flex;
  justify-content: center;
}

input-field {
  display: block;
}

.create {
  width: 70vw;
}

a {
    color: #00B7FF;
}

.brand-logo {
}

.nav-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100vw;
    padding-left: 1em !important;
}

nav {
    margin-bottom: 2em !important;
}
